#results{
    border: 1px solid #cccccc;
}

#listResult {
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 10px;
}

#listResult > li > a{
    color: #000000;
    display: block;
    text-decoration: none;
}
#listResult li:hover{
    background-color: #ecf0f1;
}