{% extends ('layout/layout.html.twig') %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ bird.nom }}</h1>
                <h2>{{ bird.ordre }}</h2>
                <h3>{{ bird.famille }}</h3>
            </div>
        </div>

    </div>

{% endblock %}

